<div class="card mb-4">
  <div class="card-body bg-light">
      <img class="img-thumbnail float-right"
        src="//api.angular.schule/avatar/{{ book.rating }}">
    <div class="card-title">
      <h2>
        {{ book.title }}
        <ng-container
          *ngFor="let i of stars">
          ⭐️
        </ng-container>
      </h2>
    </div>
    <p>{{ book.description }}</p>

    <!-- keine Logik im HTML bitte! :-) -->
    <button (click)="book.rating = book.rating + 1">Neue Katze!</button>
  </div>
</div>
